/*下面點點選單 &  左右兩邊箭頭 */


/*最外面邊框*/
/*.ls-defaultskin {
	padding: 5px;
	background: #f7f7f7;
	box-shadow: 0px 3px 15px -5px #000;
	-moz-box-shadow: 0px 3px 15px -5px #000;
	-webkit-box-shadow: 0px 3px 15px -5px #000;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}*/

.ls-defaultskin .ls-bottom-nav-wrapper {
	text-align: center;
	margin: 0px auto;
	position: relative;
	background:url(../images/bar.jpg);
	background-position:center top;
	padding:10px 0 12px 0;
}



.ls-defaultskin .ls-nav-sides,
.ls-defaultskin .ls-bottom-slidebuttons a,
/*左右兩邊箭頭*/
/*.ls-defaultskin .ls-nav-prev,
.ls-defaultskin .ls-nav-next,*/
.ls-defaultskin .ls-nav-start,
.ls-defaultskin .ls-nav-stop {
	background-image: url(../images/skin.png);
}

/*左右兩邊箭頭*/
/*.ls-defaultskin .ls-nav-prev {
	background-position: 0px 0px;
	background-color:#F00;
}

.ls-defaultskin .ls-nav-prev:hover {
	background-position: 0px -75px;

}

.ls-defaultskin .ls-nav-next {
	background-position: -150px 0px;

}

.ls-defaultskin .ls-nav-next:hover {
	background-position: -150px -75px;
}
*/

.ls-defaultskin .ls-nav-start {
	background-position: -300px 0px;

}

.ls-defaultskin .ls-nav-start:hover {
	background-position: -300px -75px;

}

.ls-defaultskin .ls-nav-stop {
	background-position: -450px 0px;

}

.ls-defaultskin .ls-nav-stop:hover {
	background-position: -450px -75px;
}

.ls-defaultskin .ls-bottom-slidebuttons a {
	background-position: 0px -150px;

}

.ls-defaultskin .ls-bottom-slidebuttons a.ls-nav-active {
	background-position: -75px -150px;

}

.ls-defaultskin .ls-nav-sideleft {
	background-position: -150px -150px;

	
}

.ls-defaultskin .ls-nav-sideright {
	background-position: -225px -150px;

}

/*左右兩邊箭頭*/
/*

.ls-defaultskin .ls-nav-prev,
.ls-defaultskin .ls-nav-next {
	width: 45px;
	height: 55px;
	z-index: 10000;
	top: 50%;
	margin-top: -10px;	
	position: absolute;
}

.ls-defaultskin .ls-nav-prev {
	left: 5px;

	
}

.ls-defaultskin .ls-nav-next {
	right: 5px;	

}*/



.ls-defaultskin .ls-bottom-slidebuttons,
.ls-defaultskin .ls-bottom-slidebuttons a,
.ls-defaultskin .ls-nav-start,
.ls-defaultskin .ls-nav-stop,
.ls-defaultskin .ls-bottom-nav-wrapper,
.ls-defaultskin .ls-nav-sides {
	height: 28px;

}

.ls-defaultskin .ls-bottom-slidebuttons,
.ls-defaultskin .ls-bottom-slidebuttons a,
.ls-defaultskin .ls-nav-start,
.ls-defaultskin .ls-nav-stop,
.ls-defaultskin .ls-nav-sides {
	display: inline-block;

}

.ls-defaultskin .ls-nav-start,
.ls-defaultskin .ls-nav-stop {
	width: 26px;

}

.ls-defaultskin .ls-bottom-slidebuttons a {
	width: 85px;
}
